<div class="d-flex flex-column min-vh-100">
  <header>
    <app-navbar></app-navbar>
  </header>

  <main class="flex-grow-1 pt-5 mt-4">
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-light py-3 mt-auto">
    <div class="container">
      <div class="text-center">
        <p class="mb-0">
          Designed and developed by 
          <a href="https://pal-martin-portfolio.vercel.app/" target="_blank">Pál Martin</a>. 
          All rights reserved.
        </p>
      </div>
    </div>
  </footer>
</div>